[project]
name = "graphdoc"
version = "0.1.0"
description = ""
authors = [
    {name = "denver",email = "denver@semiotic.ai"}
]
readme = "README.md"
requires-python = "3.13.0"
dependencies = [
]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
